@import "../../../../../assets/styles/colors";

:host {
  //outline: 2px solid yellow;
  //border: 2px solid red;
  width: 85%;
  height: calc(100% - 25px);
  padding: 15px;


  .users-grid {
    //outline: 2px solid blue;
    width: 100%;
    height: inherit !important;

    ::ng-deep {
      .cells-styling {
        display: flex;
        align-items: center;
        border-left: 1px solid #dde2eb;
        border-right: 1px solid #dde2eb;
      }
      .user-avatar {
        padding: 0 !important;
        line-height: 1;

        img {
          width: 64px;
          height: 64px;
        }
      }
    }
  }
}

.user-control-instruments {
  text-align: right;
  padding-bottom: 15px;
}

.user-control-button {
  margin-left: 15px;
  background-color: $main-background;
}
