<div class="user-control-instruments">
  <button class="user-control-button" mat-raised-button (click)="sizeToFit()">Size to Fit</button>
  <button class="user-control-button" mat-raised-button>Add User</button>
</div>
<ag-grid-angular
  style="width: 100%; height: calc(100%);"
  class="ag-theme-alpine users-grid"
  [columnDefs]="columnDefs"
  [defaultColDef]="defaultColDef"
  [rowData]="rowData$ | async"
  [rowSelection]="'multiple'"
  [animateRows]="true"
  (gridReady)="onGridReady($event)"
></ag-grid-angular>





<!--<ag-grid-angular-->
<!--  style="width: 100%; height: calc(100% - 25px);"-->
<!--  class="ag-theme-alpine users-grid"-->
<!--  [columnDefs]="columnDefs"-->
<!--  [defaultColDef]="defaultColDef"-->
<!--  [rowData]="rowData$ | async"-->
<!--  [rowSelection]="'multiple'"-->
<!--  [animateRows]="true"-->
<!--  (gridReady)="onGridReady($event)"-->
<!--  (cellClicked)="onCellClicked($event)"-->
<!--&gt;</ag-grid-angular>-->
